<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirm</title>
    </head>
    <body>
        <h1>Confirm</h1>
        <p>Do you delete this Item ?</p>
        <ul>
            <li>Title： {{.Item.Title}}</li>
            <li>Status： {{.Item.Status}}</li>
            <li>Created： {{.Item.CreatedAt}}</li>
        </ul>
        
        <form method="post" action="/delete/{{.Item.ID}}">
            <p><input type="submit" value="Delete"></p>
            <p><a href="/">home</a></p>
        </form>
    </body>
</html>
