<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h2>Todo List</h2>
    <form method="post" action="/create">
        <label>Title</label>
        <input type="text" name="title" size="30" placeholder="Title" >
        <br>
        <label>Status
            <select name="status">
                <option value="Yet">Yet</option>
                <option value="Now">Now</option>
                <option value="Done">Done</option>
            </select>
        </label>
        <br>
        <input type="submit" value="send">
    </form>
    
    <ul>
        {{ range .List }}
            <li>
                Title：{{ .Title }}, Status：{{ .Status }}
                <br>
                <label><a href="/item/{{.ID}}">Edit</a></label>
                <label><a href="/confirm/{{.ID}}">Delete</a></label>
            </li>
        {{ end }}
    </ul>
</body>
</html>