<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo: {{.Item.Title}}</title>
</head>
<body>
    <h2>Title: {{.Item.Title}}</h2>    
    <form method="post" action="/update/{{.Item.ID}}">
        <label>Change Title:</label>
        <input type="text" name="text" size="30" value="{{ .Item.Title}}" > 
        <br>
        <label>Change Status:</label>
        <select name="status">
            {{if eq .Item.Status "Yet"}}
                <option value="Yet" selected>Yet</option>
                <option value="Now">Now</option>
                <option value="Done">Done</option>
            {{else if eq .Item.Status "Now"}}
                <option value="Yet">Yet</option>
                <option value="Now" selected>Now</option>
                <option value="Done">Done</option>
            {{else}}
                <option value="Yet">Yet</option>
                <option value="Now">Now</option>
                <option value="Done" selected>Done</option>
            {{end}}
        </select>
        <br>
        <input type="submit" value="Send"></input>
    </form>
</body>
</html>